.test {
    position: relative;
    top : 0;
    left: 0;
    width: 80%;
}

.calendar {
    position: absolute;
    top : 0;
    left : 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.show {
    display: flex !important;
}

.week {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.week > div , .day {
    margin: 5px;
    width: 45px;
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.choosenDay {
    border-radius: 50%;
    color: white;
    background-color: rgb(80, 92, 109);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 100%;
}